<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="false">
	<description>Spring Hession ucs客户端配置</description>
	<!-- 权限接口 -->
	<bean id="ucsPermissionApiService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
	    <property name="serviceUrl">
	        <value>http://localhost:8091/ucs/hessian/ucsPermissionApi</value>
	    </property>
	    <property name="serviceInterface">
	        <value>com.dzmsoft.ucs.api.service.UcsPermissionApiService</value>
	    </property>
	</bean>
	<!-- 用户接口 -->
	<bean id="ucsUserApiService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
	    <property name="serviceUrl">
	        <value>http://localhost:8091/ucs/hessian/ucsUserApi</value>
	    </property>
	    <property name="serviceInterface">
	        <value>com.dzmsoft.ucs.api.service.UcsUserApiService</value>
	    </property>
	</bean>
	
</beans>